#Innecesary files from Visual Paradigm
*.vpp.lck
*.vpp.bak
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
/06Code/OptimizedDiagnosticSystem/build/
/06Code/OptimizedDiagnosticSystem/dist/
/06Code/OptimizedDiagnosticSystem/nbproject/private/
